/* square.component.css */

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.square {
  background-color: black;
  height: 200px;
  cursor: pointer;
  transition: transform 0.3s;
}

.square:hover {
  transform: scale(1.2);
}

.square-image {
  width: 100%;
  height: auto;
  /* Styles pour les images dans les carrés */
}
